.team-section {
  background-color: #f1f1f1;
  padding: 55px 0;
}

.team-section h2 {
  color: #152d41;
}

.team-section h3 {
  margin-bottom: 20px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 70px 0;
}

.team-list li:nth-of-type(odd) {
  direction: ltr;
}

.team-list li:nth-of-type(even) {
  direction: rtl;
}

.expert {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.rounded-img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.expert-info {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.expert-info h4 {
  margin-bottom: 20px;
}
